@import "tailwindcss";

/* small reset */

.asterisk::after {
	content: "*";
	color: red;
}

* {
	box-sizing: border-box;
}
html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

:is(button,input):not(:disabled) {
	cursor: pointer;
}